<section></section>
<app-header></app-header>
<section class="section" style="background-color: white; color: #1a237e;">
  <div class="content">
    <div>
      <img src="/assets/kreatiu/website/how_it_works_1.webp" alt="How it works 1" class="how-it-works-image">
    </div>
    <h1>{{ 'HOME_HOW_IT_WORKS' | translate }}</h1>
    <div class="aina-interview">
      <img src="/assets/kreatiu/aina_cut_large.png" alt="Aina Roma" class="aina-image">
      <div class="aina-text">
        <p>{{ 'HOW_IT_WORKS_INTRO' | translate }}</p>
      </div>
    </div>


    <h2>{{ 'HOW_IT_WORKS_REGISTRATION' | translate }}</h2>
    <div class="aina-interview">
      <img src="/assets/kreatiu/aina_cut_large.png" alt="Aina Roma" class="aina-image">
      <div class="aina-text">
        <p>{{ 'HOW_IT_WORKS_REGISTRATION_DESC' | translate }}</p>
      </div>
    </div>

    <h2>{{ 'HOW_IT_WORKS_CREATE_COMPANY' | translate }}</h2>
    <div class="aina-interview">
      <img src="/assets/kreatiu/aina_cut_large.png" alt="Aina Roma" class="aina-image">
      <div class="aina-text">
        <p>{{ 'HOW_IT_WORKS_CREATE_COMPANY_DESC' | translate }}</p>
      </div>
    </div>

    <h2>{{ 'HOW_IT_WORKS_CREATE_CAMPAIGNS' | translate }}</h2>
    <div class="aina-interview">
      <img src="/assets/kreatiu/aina_cut_large.png" alt="Aina Roma" class="aina-image">
      <div class="aina-text">
        <p>{{ 'HOW_IT_WORKS_CREATE_CAMPAIGNS_DESC' | translate }}</p>
      </div>
    </div>

    <h2>{{ 'HOW_IT_WORKS_RECEIVE_CONTENT' | translate }}</h2>
    <div class="aina-interview">
      <img src="/assets/kreatiu/aina_cut_large.png" alt="Aina Roma" class="aina-image">
      <div class="aina-text">
        <p>{{ 'HOW_IT_WORKS_RECEIVE_CONTENT_DESC' | translate }}</p>
      </div>
    </div>

    <h2>{{ 'HOW_IT_WORKS_IMPLEMENTATION' | translate }}</h2>
    <div class="aina-interview">
      <img src="/assets/kreatiu/aina_cut_large.png" alt="Aina Roma" class="aina-image">
      <div class="aina-text">
        <p>{{ 'HOW_IT_WORKS_IMPLEMENTATION_DESC' | translate }}</p>
      </div>
    </div>

    <a [routerLink]="'/register'" class="btn">{{ 'HOME_START_NOW' | translate }}</a>
  </div>
</section>
<app-footer></app-footer>
