.agenda-container {
  height: 100vh;
}

.agenda-sidenav {
  width: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(0, 30, 130, 0.8), rgba(0, 50, 160, 0.8));
  color: white;

  .sidenav-content {
    height: CALC(100vh - 90px);
  }

  .upgrade-button {
    margin: 1rem 1rem auto;
  }

  mat-nav-list {
    mat-list-item {
      span {
        color: white !important;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border-radius: 4px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        &.active {
          background-color: rgba(255, 255, 255, 0.2);
          font-weight: bold;
        }
      }
    }
  }
}


.agenda-toolbar {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(0, 30, 130, 0.8), rgba(0, 50, 160, 0.8));

}

.agenda-content {
  padding: 1rem;
  background: rgb(229 234 252);
  //background: linear-gradient(145deg, rgba(0, 25, 112, 0.9), rgba(0, 50, 160, 0.9));
  //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  height: 100%;

  .agenda-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .agenda-top {
      display: flex;
      gap: 2rem;

      .calendar-card {
        width: 250px;
      }

      .week-days {
        display: flex;
        flex-direction: row; // <-- nuevo
        flex: 1;
        justify-content: space-between;
        gap: 1rem; // opcional para separación

        .day-column {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100px; // o 12.5% si quieres que ocupen el 100% justo en 8 columnas

          span {
            margin-bottom: 0.5rem;
          }

          mat-form-field {
            width: 100%;
          }
        }
      }
    }

    .agenda-today {
      h3 {
        margin-bottom: 0.5rem;
      }

      .today-card {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;

        .actions {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
}

.today-card {
  background: linear-gradient(135deg, rgba(0, 30, 130, 0.6), rgba(0, 50, 160, 0.6));
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  color: white;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-card:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.today {
  border: 2px solid #2196f3 !important;
  border-radius: 6px;
}

.fab-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #ff9800; // o tu color
  color: white;
  z-index: 1000;
}


