<app-header-authenticated></app-header-authenticated>

<div class="background">
  <div class="logo-container">
    <img src="/assets/logo_full.png" alt="Kreatiu Logo" class="logo">
  </div>
  <mat-card class="welcome-card">
    <div class="aina-interview">
      <img src="/assets/kreatiu/aina_cut_small.png" alt="Aina Roma" class="aina-image">
      <div class="aina-text" id="animated-text">
        <p>{{ displayedText }}</p>
      </div>
    </div>
  </mat-card>
</div>
<app-footer></app-footer>
