<mat-card style="padding: 20px;border: 2px solid orange; border-radius: 20px;">
  <mat-card-title>
    <h2>Política de Cookies</h2>
  </mat-card-title>
  <mat-card-content>
    <p>Utilizamos cookies para mejorar la experiencia de usuario. Puede aceptar o rechazar las cookies no esenciales.</p>
    <div>
      <button mat-button (click)="acceptCookies()">Aceptar</button>
      <button mat-button (click)="rejectCookies()">Rechazar</button>
      <button mat-button (click)="moreInfo()">Más info</button>
    </div>
  </mat-card-content>
</mat-card>
